<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="/images/${this.auditorium[0].aboutusImage}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">${this.auditorium[0].aboutusName}</h5>
                    <p class="card-text">${this.auditorium[0].aboutUs}</p>
                    
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</section>