<section class="book-ticket">
  <div class="${this.showSalong ? 'd-block' : 'd-none'}">
    <div class="theShow">
      <br> ${this.movie.title}
      <br> ${this.auditorium.name}
      <br> ${this.date}
      <br> ${this.time}
    </div>
    <div class="ticket-selector">
      <div>
        <p>Totalpris: ${this.total}</p>
        <p>Ordinarie (85 kr/st)</p>
        <div class="ticket-incrementor adult">
          <button class="decrement-adult">-</button> ${this.adult}<button class="increment-adult">+</button>
        </div>
      </div>
      <div class="price">
        <p>Pensionär (65 kr/st)</p>
        <div class="ticket-incrementor senior">
          <button class="decrement-senior">-</button> ${this.senior}<button class="increment-senior">+</button>
        </div>
      </div>
      <div class="price">
        <p>Barn (50 kr/st)</p>
        <div class="ticket-incrementor kids">
          <button class="decrement-kid">-</button> ${this.kid}<button class="increment-kid">+</button>
        </div>
      </div>
    </div>
    ${this.salong}
    <button class="booked-tickets">Boka biljetter</button>
  </div>
  <div class="${this.showSalong ? 'd-none' : 'd-block'}">
    <div class="card" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Bokningsnummer: ${this.ticket.bookingNum} </h5>
        <h5 class="card-title mb-2">Filmens titel: ${this.movie.title}</h5>
        <p class="card-text">Salongen som filmen går i heter ${this.auditorium.name}.</p>
        <p class="card-text">Datum: ${this.date} Tid: ${this.time}</p>
        <p class="card-text">Pris: ${this.total}:- </p>
        <p class="card-text">${this.totalTickets == 1 ? 'Din bokade plats' : 'Era bokade platser' }: ${this.seatsForTicket}</p>
      </div>
    </div>
  </div>
</section>