<section class="loginPage">
  <button class="logout">Log out</button>
  <form class="login-form ${this.showLogin ? 'd-block' : 'd-none'}">
    <h2>Logga in</h2>
   
    <div class="form-group">
      <label for="user-email">E-postaddress</label>
      <input type="email" class="form-control" id="user-email" placeholder="E-postaddress" value="sandra@gmail.com">
    </div>
   
    <div class="form-group">
      <label for="user-password">Lösenord</label>
      <input type="password" class="form-control" id="user-password" placeholder="Lösenord" required pattern=".{8,}" value="aleksandra">
    </div>
   <button type="submit" class="btn btn-primary user-login" >Logga in</button>

    <br>

    <a href="/register" class="register">Registrera ny användare</a>
  
  </form>
 
  <!-- ${this.showModal ? `<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">${this.message}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary relocate" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>` : ''} -->

  <div class="jumbotron ${this.showError ? 'd-block' : 'd-none' }">
    <h1 class="display-4">no such user</h1>
    <p class="lead">faf</p>
    <hr class="my-4">   
    <a class="btn btn-primary btn-lg relocate" href="/" role="button">Stäng</a>
  </div>
  
  <div class="jumbotron ${this.showYouAreLoggedIn ? 'd-block' : 'd-none' }">
    <h1 class="display-4">Välkommen ${this.currentUserInfo.firstName}</h1>
    <p class="lead">Du är nu inloggad med ${this.currentUserInfo.email}!</p>
    <hr class="my-4">   
    <a class="btn btn-primary btn-lg relocate" href="/" role="button">Stäng</a>
  </div>


</section>