<section class="loginPage">
<div class="${Store.loggedIn || this.hideLogin ? 'd-none' : 'd-block d-flex justify-content-center'}">
  <form class="login-form">
    <h2 class="d-flex justify-content-center pb-4">Logga in</h2>   
    <div class="form-group">     
      <input type="email" class="form-control" id="user-email" placeholder="E-postadress" required pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$">
    </div>   
    <div class="form-group">     
      <input type="password" class="form-control" id="user-password" placeholder="Lösenord" required pattern="[A-Za-z0-9._%+-]{1,63}$" >
    </div>
   <button type="submit" class="btn btn-success user-login m-2" >Logga in</button>
    <a href="/register"  role="button" class="btn btn-success register pt-1.5 pb-1.5 m-2">Registrera</a>  
  </form>
</div>
 
<div class="${this.showError ? 'd-block' : 'd-none'}">
  <div class="jumbotron bg-white">
    <h1 class="display-8">E-postadressen är ogiltig!</h1>
    <p class="lead">Vänligen försök igen eller registrera.</p>
    <hr class="my-4">   
    <a class="btn btn-success btn-lg resetLogin" href="/login" role="button">Stäng</a>
  </div>
</div>
  
<div class="${Store.loggedIn ? 'd-block' : 'd-none'}">
  <div class="jumbotron bg-white">
    <h1 class="display-8">Välkommen ${this.currentUserName}</h1>
    <p class="lead">Du är nu inloggad med ${this.currentUserEmail}!</p>
    <hr class="my-4">   
    <a class="btn btn-success btn-lg" href="/" role="button">Stäng</a>
  </div>
</div>

<div class="${this.showErrorPassword ? 'd-block' : 'd-none'}">
  <div class="jumbotron bg-white">
      <h1 class="display-8">Lösenordet är felaktigt!</h1>
      <p class="lead">Vänligen försök igen eller registrera.</p>
      <hr class="my-4">   
      <a class="btn btn-success btn-lg resetLogin" href="/login" role="button">Stäng</a>
    </div>
  </div>

</section>