<div class="movieInfo">
  <h1>${this._props.title}</h1>
  ${this.description}
  <img src="/images/${this.images[0]}">
  <p> Skådespelare: ${this.actors.join(', ')}.</p>
  <p>År: ${this.productionYear}</p>
  <p>Längd: ${this.length} minuter.</p>
  <p>Språk: ${this.language}</p>
  <p>Undertext: ${this.subtitles}</p>
  <p>Regissör: ${this.director}</p>
  <p>Produktionsland: ${this.productionCountries.join(' ')}</p>
  <p>Genre: ${this.genre}</p>
  <h2>Recension av ${this.reviews[0].source} </h2>
  <p> <q>${this.reviews[0].quote}</q></p>
  <p>Betyg: ${this.reviews[0].stars} stjärnor utav ${this.reviews[0].max} möjliga </p>
  <h2>Recension av ${this.reviews[1].source} </h2>
  <p> <q>${this.reviews[1].quote}</q></p>
  <p>Betyg: ${this.reviews[1].stars} stjärnor utav ${this.reviews[1].max} möjliga </p>
  <h2>Recension av ${this.reviews[2].source} </h2>
  <p> <q>${this.reviews[2].quote}</q></p>
  <p>Betyg: ${this.reviews[2].stars} stjärnor utav ${this.reviews[2].max} möjliga </p>
  <iframe width="682" height="345" src="https://www.youtube.com/embed/${this.youtubeTrailers}"></iframe>
</div>