<section class="popcorn">
    <div class="row">
    <div class="col mt-5">
            <div class="card-group">
                    <div class="card">
                      <img src="/images/popcorn.jpg" class="card-img-top" alt="popcorn image">
                      <div class="card-body">
                        <h5 class="card-title">Popcorn</h5>
                        <p class="card-text">Vad är ett biobesök utan popcorn och läsk? Självklart har vi mycket annat att
                                välja på i våra biografbutiker.
                                På denna sida kan du se ett urval av vad du kan köpa på våra biografer – och fler godsaker
                                utöver detta kan du hitta i våra hyllor i
                                kiosken/butiken. Sött, salt eller surt – det är bara att välja! Vi har något för alla smaker!.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="/images/drinks.jpg" class="card-img-top" alt="drink image">
                      <div class="card-body">
                        <h5 class="card-title">Stort utbud av läsk</h5>
                        <p class="card-text">Vad är ett biobesök utan popcorn och läsk? Självklart har vi mycket annat att
                                välja på i våra biografbutiker.
                                På denna sida kan du se ett urval av vad du kan köpa på våra biografer – och fler godsaker
                                utöver detta kan du hitta i våra hyllor i
                                kiosken/butiken. Sött, salt eller surt – det är bara att välja! Vi har något för alla smaker!.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                      </div>
                    </div>
                    <div class="card">
                      <img src="/images/snacks.jpg" class="card-img-top" alt="snacks image">
                      <div class="card-body">
                        <h5 class="card-title">Snacks</h5>
                        <p class="card-text">Vad är ett biobesök utan popcorn och läsk? Självklart har vi mycket annat att
                                välja på i våra biografbutiker.
                                På denna sida kan du se ett urval av vad du kan köpa på våra biografer – och fler godsaker
                                utöver detta kan du hitta i våra hyllor i
                                kiosken/butiken. Sött, salt eller surt – det är bara att välja! Vi har något för alla smaker!.</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                      </div>
                    </div>
                  </div>
    </div>
</section>