<div class="showProgramCard">
    <hr>
    <div class="row">
        <div class="col - ">
            <div class="card" style="width: 18rem;">
                <img src="/images/${this.movie.images[0]}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">${this._props.movie.title}</h5>
                    <p class="card-text">${this.auditorium.name}</p>
                    <p>📆 ${this.date} 🕑 ${this.time}</p>
                    <a href="/movie/${this._props.movie.title.toLowerCase().replace(/\W/g, '-')}" data-id="${this.movie._id}"
                        class="more-movie-info">Se trialern och info om filmen</a>
                        <br>
                     <a href="/program/${this._id}" data-id="${this._id}" class="select-program">Boka denna visning</a>   
                </div>
            </div>
        </div>
    </div>
</div>