<div>
    <hr>
    <p>${this._props.movie.title}</p>
    <a href="/movie/${this._props.movie.title.toLowerCase().replace(/\W/g, '-')}" data-id="${this.movie._id}" class="more-movie-info">Mer
        om filmen</a>
    <p>${this.auditorium.name}</p>
    <p>${this.date}</p>
    <p>${this.time}</p>
    <img src="/images/${this.movie.images[0]}">
    <iframe width="682" height="345" src="https://www.youtube.com/embed/${this.movie.youtubeTrailers}">
    </iframe>
    <button>
        <a href="/program/${this._id}" data-id="${this._id}" class="select-program">Boka denna visning</a>
    </button>
</div>