<section class="register-page">
<form class="register-form">
  <h3>Registrera ny användare</h3>
  <section class="login-wrapper">
    <div class="form-group">
      <label for="user-firstName">Förnamn</label>
      <input type="text" class="form-control" id="user-firstName" placeholder="Förnamn">
    </div>
    <div class="form-group">
      <label for="user-lastName">Efternamn</label>
      <input type="text" class="form-control" id="user-lastName" placeholder="Efternamn">
    </div>
    <div class="form-group">
      <label for="user-email">E-postaddress</label>
      <input type="email" class="form-control" id="user-email" placeholder="E-postaddress">
    </div>
    <div class="form-group">
      <label for="user-password">Lösenord</label>
      <input type="password" class="form-control" id="user-password" placeholder="Lösenord">
    </div>
    <button type="button" class="btn btn-primary registerUser mt-4">Bekräfta</button>
</form>
</section>