<section class="salongsInfo justify-content-md-center">
  <div class="row justify-content-md-center">
    <div class="col justify-content-md-center">
      <div class="card" style="width: 18rem;">
        <img src="/images/${this.auditorium[0].image}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">${this.auditorium[0].name}</h5>
          <p class="card-text text-center">${this.auditorium[0].info}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center">${this.auditorium[0].ljud}</li>
          <li class="list-group-item text-center">${this.auditorium[0].projektor}</li>

        </ul>

      </div>
    </div>
    <div class="col justify-content-md-center">
      <div class="card" style="width: 18rem;">
        <img src="/images/${this.auditorium[1].image}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">${this.auditorium[1].name}</h5>
          <p class="card-text text-center">${this.auditorium[1].info}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center">${this.auditorium[1].ljud}</li>
          <li class="list-group-item text-center">${this.auditorium[1].projektor}</li>

        </ul>

      </div>
    </div>
    <div class="col justify-content-md-center">
      <div class="card" style="width: 18rem;">
        <img src="/images/${this.auditorium[2].image}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">${this.auditorium[2].name}</h5>
          <p class="card-text text-center">${this.auditorium[2].info}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center">${this.auditorium[2].ljud}</li>
          <li class="list-group-item text-center">${this.auditorium[2].projektor}</li>

        </ul>

      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col- mt-5">
      <div class="card mb-3">
        <img src="/images/${this.auditorium[0].butikImage}" class="card-img-top" alt="popcorn image">
        <div class="card-body">
          <h5 class="card-title text-center">${this.auditorium[0].butikName}</h5>
          <p class="card-text text-center">${this.auditorium[0].butik}</p>
          
        </div>
      </div>

    </div>
  </div>
</section>