<section class="salongsInfo">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/images/storasalongen.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Stora Salongen</h5>
                  <p class="card-text">Salongen har 81 platser på 8 rader. Det finns gång på båda sidor av salongen. 
                      Ingång sker längst fram på höger sida. Utgång finns längst fram till vänster. Duken är 30,5 m bred.
                      Rullstolsplatser och hörslinga finns. För reservation av rullstolsplatser ring 011-123456</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Ljud: Dolby Atmos och IMAX </li>
                  <li class="list-group-item">Bild: Vi är DCI-certifierade och kan visa DCP:er i full 2K, 4K och 3D via Dolby DSS200.</li>
                 
                </ul>
               
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/images/mellansalongen.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mellan Salongen</h5>
                  <p class="card-text">Salongen har 67 platser på 7 rader. Det finns gång på båda sidor av salongen. 
                        Ingång sker längst fram på höger sida. Utgång finns längst fram till vänster. Duken är 20,5 m bred.
                        Rullstolsplatser och hörslinga finns. För reservation av rullstolsplatser ring 011-123456</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Ljud: Dolby Atmos system</li>
                  <li class="list-group-item">Bild: Vi är DCI-certifierade och kan visa DCP:er i full 2K och 4K via Dolby DSS200.</li>
                  
                </ul>
                
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="/images/lillasalongen.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lilla Salongen</h5>
                  <p class="card-text">Salongen har 55 platser på 6 rader. Det finns gång på båda sidor av salongen. 
                        Ingång sker längst fram på höger sida. Utgång finns längst fram till vänster. Duken är 12,5 m bred.
                        Rullstolsplatser och hörslinga finns. För reservation av rullstolsplatser ring 011-123456</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Ljud: Digital Theatre System</li>
                  <li class="list-group-item">Bild: Vi är DCI-certifierade och kan visa DCP:er i full 2K och 4K via Dolby DSS200.</li>
                  
                </ul>
                
              </div>
        </div>
    </div>
</section>