<section class="salongsInfo">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/images/storasalongen.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">${this.auditorium[0].name}</h5>
          <p class="card-text">${this.auditorium[0].info}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">${this.auditorium[0].ljud}</li>
          <li class="list-group-item">${this.auditorium[0].projektor}</li>

        </ul>

      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/images/mellansalongen.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">${this.auditorium[1].name}</h5>
          <p class="card-text">${this.auditorium[1].info}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">${this.auditorium[1].ljud}</li>
          <li class="list-group-item">${this.auditorium[1].projektor}</li>

        </ul>

      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="/images/lillasalongen.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">${this.auditorium[2].name}</h5>
          <p class="card-text">${this.auditorium[2].info}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">${this.auditorium[2].ljud}</li>
          <li class="list-group-item">${this.auditorium[2].projektor}</li>

        </ul>

      </div>
    </div>
  </div>
</section>