.book-ticket{

    * {

        box-sizing: border-box;
    
    }
    #program-select {
        color: blac;
    }

    .price {
        color: white;
        text-align: center
    }

    h4{
        text-align: center;
        margin-bottom: 50px;
    }

    .theShow {
        color: white;
    }
    .ticket-selector {
        color: white;
    }
}