.bookingHistory {
  h1 {
    font-weight: 300;
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 30px;
  }
}

.noBookings {
  color: white;
  text-align: center;
  font-size: 3rem;
}
.hideThings {
  display: none;
}

.history {
  .card-text {
    margin: 0;
  }
  p {
    margin: 0;
  }
}
