* {
    box-sizing: border-box;
}

.aboutUsInfoPage {
    margin-top: 60px;
    display: inline-block;
    margin-bottom: 0px;
   
    
    

    .candyInfoCard{
      margin: auto;
        
    }

    .eventInfoCard {
        margin-top: 20px;
        margin: auto;
    }

}