.book-ticket{
  margin-top: 40px;
  * {
    box-sizing: border-box;
    }

    .error{
      position: relative;
      margin-bottom: 5em;
    }

    .alert{
      position: absolute;
      top:0;
      left:0;
      right:0;
    }

    p{
      color:white;
      font-size: 20px;
    }

  #program-select {
    color: black;
  }

  .price {
    color: white;
    text-align: center;

    button{
      font-size: 25px;
      margin:0;
      padding:0;
      width: 40px;
      height: 40px;
    }
    .ticket-incrementor{
      font-size: 25px;
    }
  }

  h4{
    text-align: center;
    margin-bottom: 50px;
  }

  .theShow {
    color: white;
  }
  .ticket-selector {
    color: white;
  }
  .screen{
    position: relative;
    border-top: 2px solid white;
    width: 300px;
    margin-bottom: 80px;
    z-index: -0;
    .light{
      position: absolute;
      width: 300px;
      left:0;
      opacity: 0.7;
      z-index: -1;
    }
  } 
  .bookingConfirmed{
    color: white;
    h5{
      font-size: 25px;
      margin-bottom: 5px;
    }
    p{
      margin-bottom: 5px;
    }
    .bookedSeats{
      margin-bottom: 5px;
      p{
        margin:0;
      }
    }
  }
}