* {
  box-sizing: border-box;
}

  .footer {
    width: 100%;
    background: #161414;
    color: white;
    position: fixed;
    bottom:0;
    z-index: 99999;
    text-align: center;
    p {
      color: white;
      font-size: 15px;
      margin:5px;
    }
  }
 


  
 