* {
  box-sizing: border-box;
}

  .footer {
    width: 100%;
    height: 70px;
    background: #161414;
    color: white;
    position: fixed;
    bottom: 0;
    li {
      list-style-type:none;
      display: inline-block;
      padding: 20px;
    }
  }
 


  
 