* {
  box-sizing: border-box;
}



body {
.homeCarousel {
  padding-top: 70px;
}


.captionHeader  {
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
  text-align: center;
  font-family: 'Roboto', sans-serif;

  .all-content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    main {
      flex: 1;
    }
  }
}

