nav {
  font-family: 'Play', sans-serif;
  background-color: #1c0000;
  border-bottom:1px solid white;
  a{
    color:rgb(253, 251, 251);
    &:hover{
      color: rgb(255, 255, 255);
      text-decoration: underline;
    }
  }
  .active{
    color: #af0000;
    text-decoration: underline;
    &:hover{
      color: #af0000;
      text-decoration: underline;
    }
  }

  .navbar-toggler-icon {
    color: #af0000;
}
  
  .navbar-brand {
    height: 50px;

  }
  
}