* {
    box-sizing: border-box;
}

.salongsInfoPage {
    margin-top: 100px;
    display: inline-block;
    margin-bottom: 100px;
    
    

    .salongsInfoCard {
      
        margin: auto;
    }

}