* {
    box-sizing: border-box;
}

.salongsInfoPage {
    text-align: center;
    margin-top: 100px;
    display: inline-block;
    

    .salongsInfoCard {
        margin-bottom: 50px;
        margin: auto;
    }

}