* {
    box-sizing: border-box;
}

.salongsInfoPage {
    text-align: center;
    margin-top: 60px;
    display: inline-block;
    margin-bottom: 40px;
    
    

    .salongsInfoCard {
      
        margin: auto;
    }

}