body {
  .show-program {
    display: inline-block;
    padding-top: 20px;
  }

    h1 {
        color: white;
    }

    p {
        color: black;
    }

    .showPageHeadLine {
        text-align: center;
    }

    .moreshows {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}
a {
  color: white;
}
