.topplista {
  font-size: 1.5rem;
  margin: 0 auto;
  width: 40%;
  padding-top: 2%;
  text-align: center;
  font-weight: 300;
}

.heading-lista {
  text-align: center;
  font-weight: 300;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }

  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }

    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }


}

.container-topp {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

@media screen and (max-width: 532px) {
  .topplista {
    font-size: 15px;
  }

  .heading {
    font-size: 20px;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}